<%- include("partials/head", { tittle: "Add Game"}); -%>
<div class="container">
  <h2>Add Game</h2>

  <form action="/games/add" method="POST">
    <label for="">Name :</label>
    <input type="text" name="name" /><br />

    <label for="">Stock :</label>
    <input type="number" name="stock" /><br />

    <label for="">image :</label>
    <input type="text" name="image" /><br />

    <label for="">Price :</label>
    <input type="number" name="price" /><br />

    <button type="submit" value="submit" class="btn btn-primary btn-sm">
      Submit
    </button>
    <a
      href="/games"
      class="btn btn-primary btn-sm"
      tabindex="-1"
      role="button"
      aria-disabled="true"
      >cancel</a
    >
  </form>
</div>

<%- include("partials/foot"); -%>
