<%- include("partials/head", { tittle: "Home"}); -%>

<h2>Home Page</h2>
<br />
<h4>How are you today, <%= username %> ?</h4>
<h5>What games you want to buy, today?</h5>

<%- include("partials/foot"); -%>
